<form>
  <div>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">home</a>
</nav>



<div class="container>
  <div class="jumbotron text-center">


      <h2>Congratulations, you're logged in!!</h2>



  </div>



      <!-- Copyright -->

      <footer class="page-footer font-small blue pt-4">
   <div class="footer-copyright text-center py-3"> © 2020 Copyright:
       <p>Author: acj6ca, dje3ac, nbo5td, hm4tq</p>

     <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
   </div>
   </footer>

</form>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">