{% extends 'base.html' %}
{% block content %}

{% if posts %}
<title>Templates for {{ category }} Category</title>
{% endif %}

<style>
.h_container{
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  z-index: 1000;
  display: inline-block,
}

.heading{
    text-align: center; position: relative; width: 100%; max-width: 600px; margin: 100px auto;

}
.button_container{
  font-weight: 900;
  background-color: rgba(84, 151, 45, 0.938);
}
.our_page_container{ text-align: center; position: relative; width: 100%; max-width: 600px; margin: 100px auto;}

</style>

<body>
    <div class="our_page_container">
      <div class="h_container">
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }} !</p>
     
      {% else %}
      <h1>Civic Connect - Honda Civics</h1>
    
      {% endif %}
      </div>


    <body>
    <div class="container">
        <div class="row">
            <div class="heading">

                <h4>Try Out One of These Template(s)</h4>

            </div>
        </div>
        <div class="row">
        {% if posts %}
            {% for i in posts %}
                <div class="container"><a href="{{ i.slug }}"> {{ i.title }} </a></div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    </body>
    </div>
</body>



          
{% endblock content %}